{% extends 'base.html'%}
{% load static %}

{% block Titulo%}Sobre a Empresa - Senac Store{% endblock %}

{% block Conteudo %}

        <!-- Header-->
        <header class="bg-light py-1">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-dark">
                    <h1 class="display-4 fw-bolder">Sobre a Empresa</h1>
                </div>
            </div>
        </header>

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
            <p>Nulla metus orci, lacinia id venenatis sit amet, condimentum non lectus. Cras nec bibendum tellus, in efficitur orci. Suspendisse vel eros mattis, efficitur mauris nec, ornare nisl. Sed lacinia, tortor quis semper iaculis, tellus nibh fringilla arcu, a malesuada nulla enim ut nulla. Cras facilisis quam sit amet nisl maximus, non luctus arcu varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ligula orci, varius quis pharetra id, ultricies ac tellus. Mauris ut porttitor purus. Morbi in leo in est cursus dignissim ac nec orci. Mauris rutrum felis auctor placerat aliquam. Nulla vulputate fermentum dictum. Vestibulum cursus eu libero sed volutpat. Proin molestie risus id nibh porta, eget porttitor eros hendrerit. Morbi sit amet sapien a nisl consequat pretium. Phasellus a mollis tellus. Donec et ornare turpis.</p>
            <hr>    
            <div class="row">
                <div class="col-md-4">
                    <h2>Visão</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div>
                
                <div class="col-md-4">
                    <h2>Missão</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div>
                <div class="col-md-4">
                    <h2>Valores</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                </div>
                </div>
            </div> 
        </section>

{% endblock %}